aside#sidebar {
    float: right;
    width: 200px;
    min-height: 504px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 1.3;
    background: transparent 0 0 no-repeat
}

@media only screen and (max-width: 767px) {
    aside#sidebar {
        float: none;
        width: 100%
    }
    aside#sidebar {
        min-height: 0;
        padding: 20px 0;
        margin-top: 20px;
        background-image: none;
        border-top: solid 1px #ddd
    }
    aside#sidebar a.button {
        display: none
    }
}